<!DOCTYPE html>
<html>
  <head>
    <title>Student list</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>STUDENTS</h1>
    <form action = "students/add" method = "post">
      <div>
        <label for="name">Name: </label>
        <input type="text" id="name" name="name">
      </div>
      <div>
        <input type='submit' />
      </div>
    </form>
        
    <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>

        <% for(let i=0;i<students.length;i++) { %>
            <tr>
              <td><%= students[i].ID %></td>
              <td><%= students[i].name %></td>
            </tr>
        <% } %>
        
      </table>

  </body>
</html>
